<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
	
	<test name="Chrome Test">
	<parameter name="Port" value="27621"/>
	<classes>
      <class name="test_cases.Login"/>      
    </classes>
  	</test>
  	
  	<test name="Firefox Test">
	<parameter name="Port" value="5555"/>
    <classes>
      <class name="test_cases.Login"/>      
    </classes>
  	</test>
  
</suite>